/* creates border around main elements */
.border{ border: 0.5px solid black;
        border-radius: 8px;
        margin: 5px;
        padding: 5px;
/* syntax || box-shadow: none|h-offset v-offset blur spread color */   

}
body{  text-align: center;
        padding: 5px;
        background-position: center center;
        background-color: #DADADA;
        text-align: center;
        height: 230vh;
        background-size: cover;
        color: black;
        /* syntax || text-shadow: h-shadow v-shadow blur-radius color */
        text-shadow: 0 0 5px white;}

.left{ float: left; width: 50%; }
    
.right{ float: right; width: 50%; }
    
footer{ clear: both;
height: 120px; }

nav{
    position:sticky;
    top: 0%;
    width: 100%;
    margin: 0 80px;
    word-spacing: 5px;
    background-color:black;
    height: 60px;
    padding: 30px;
    text-decoration: none;
text-align: center;}



header{
        background-color: a;
        height: 30px;
        
}
section{
        font-size: large;
        color: purple
        

}

                  

a{ text-decoration: none;
  margin: 0 50px;
  word-spacing:5px;}
      
    
    /* set height of section, article, and aside elements */
    /* pixel calculation: section(250) + article(250) + border(section(0.5 + 0.5) + article(0.5 + 0.5))  + margin(5) = 507px */
section { height: 500px; }
aside{ height: 340px;
        background-color: #64959E;
        text-decoration-color: white;
        letter-spacing:1px;
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
}
    
    /* set background color and align text to the center */
a.clearfix{
        clear: both;}
    
    /* creates dashed border around h2 elements */
    /* making display an inline-block allows for the border to wrap content */
h2{
        border: 0.5px dotted white;
       display: inline-block;
        padding: 20px;
}a:link{ text-decoration: none;
    
}
a:visited{
        color:white;
        text-decoration: none;}
a:hover {
        padding: 10px;
        background-color: black;}
    
:active{
        color: green}
h6,p{
text-align: justify;}

section{
        background-image: url(imag/bry9\ copy.avif);
        font-size: large;
        background-color:lightgrey;
        color: purple     
       
}

footer{
        background-color: lightgray;
}
* { box-sizing: border-box;}
      
.box {
        float: left;
        width: 50%;
        padding: 50px;
        height: 300px;}
      
.clearfix::after {
        content: "";
        clear: both;
        display: table;}
             

.fa {
        padding: 10px;
        font-size: 40px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;}
        

.fa:hover{
        opacity: 0.9;}  
.fa-youtube{
        background-color:#bb0000;
        color: black;
}            
             
.fa-facebook{
        background:#3B5998;
        color: black;
}
.fa-instagram{
        background-color:#007bb5;
        color:black;
}

p{      font-size: smaller; 
        text-align: center;}